/* fonts ---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.open-sans {
    font-family: "Open Sans Condensed",  sans-serif;
}

.logo-text {
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}


/* body and main content ---------------------------------------- */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      

/* all rows ---------------------------------------- */
.row {
    margin-bottom: 0px;
}


/* navbar ---------------------------------------- */
.nav-extended {
    background-color: #093824;
    position: fixed;
    top: 0;
}

.navbar-text a {
    font-size: 20px!important;
}


/* buttons ---------------------------------------- */
.btn {
    font-family: "Open Sans Condensed",  sans-serif;
    text-transform: none;
    font-weight: bold!important;
    background-color: #FCFCFF!important;
    color: #000000!important;
    box-shadow: none!important;
}

.btn-blue {
    background-color: #406E8E!important;
    color: #FCFCFF!important;
    box-shadow: none!important;
}

/* index.html -------------------------------------- */
.hero-img {
    height: 400px;
    width: 100%;
    margin-top: 56px;
    background-image: url('../img/hero1.jpg');
    background-position: center center;
    background-size: cover;
}

.welcome-h1 {
    color: #FCFCFF;
    font-size: 85px;
    margin: 0px;
    padding-top: 150px;
}

.red-info-box {
    background-color: #3E000C;
    height: 300px;
    color: #FCFCFF;
    position: relative;
}

.box-content {
    width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.red-info-box h3 {
    font-weight: bold;
}

.blue-info-box {
    background-color: #B7CECE;
    height: 300px;
    color: #000000;
    font-size: 24px;
    position: relative;
}

/* footer ---------------------------------------- */
.footer-row {
    margin-bottom: 0px;
}

.footer-copyright {
    background-color: #093824;
    font-size: 18px;
    color: #FCFCFF;
    width: 100%;
    padding-top: 0px;
}

.social-links {
    margin-top: 18px;
    margin-bottom: 18px;
}

.social-icon i {
    font-size: 24px;
    color: #FCFCFF!important;
    margin-right: 10px;
}

/* media query ---------------------------------------- */
/* ------------------- max-width: 768px */

@media (max-width: 768px) {
    .box-content {
        width: 300px;
    }

    .blue-info-box {
        font-size: 20px;
    }

    .red-info-box h3 {
        font-size: 28px;
    }
}