{% extends "base.html" %}
{% block content %}
    <!-- 500 error message -->
    <div class="signup-background">
        <div class="col s12 m5">
            <div class="card-panel error-card">
                <div class="row center-align error-section">
                    <h1 class="open-sans">Oops!</h1>
                    <h5 class="open-sans">Internal server error.</h5>
                    <h6 class="open-sans">
                        <a href="{{ url_for('get_home') }}">Click here to go back to the home page.</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}