<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Kitchen.</title>
</head>
<body>

    <header>
        <!-- navbar -->
        <nav class="nav-extended">
            <div class="nav-wrapper">
            <a href="{{ url_for('get_home') }}" class="brand-logo open-sans logo-text">Kitchen.</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down open-sans">
                <li class="navbar-text"><a href="{{ url_for('get_home') }}">Home</a></li>
                <li class="navbar-text"><a href="{{ url_for('get_recipies') }}">Recipies</a></li>
                <li class="navbar-text"><a href="#">Add Recipe</a></li>
                <li class="navbar-text"><a href="#">Manage Categories</a></li>
                <li class="navbar-text"><a href="#">Profile</a></li>
                <li class="navbar-text"><a href="#" class="btn">Sign In</a></li>
                <li class="navbar-text"><a href="{{ url_for('signup') }}" class="btn btn-blue">Sign Up</a></li>
                <li class="navbar-text"><a href="#" class="btn">Log Out</a></li>
            </ul>
            </div>
        </nav>
        <!-- navbar collapsed -->
        <ul class="sidenav open-sans" id="mobile-demo">
            <li class="navbar-text"><a href="{{ url_for('get_home') }}">Home</a></li>
            <li class="navbar-text"><a href="{{ url_for('get_recipies') }}">Recipies</a></li>
            <li class="navbar-text"><a href="#">Add Recipe</a></li>
            <li class="navbar-text"><a href="#">Manage Categories</a></li>
            <li class="navbar-text"><a href="#">Profile</a></li>
            <li class="navbar-text"><a href="#" class="btn">Sign In</a></li>
            <li class="navbar-text"><a href="{{ url_for('signup') }}" class="btn btn-blue">Sign Up</a></li>
            <li class="navbar-text"><a href="#" class="btn">Log Out</a></li>
        </ul> 
    </header>
        <div class="center-align flashmessage">
            <!-- flash message -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                                <p class="open-sans">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

        {% block scripts %}
        {% endblock %}

    <footer>
          <div class="page-footer footer-copyright">
            <div class="container">
                <div class="row footer-row">
                    <div class="col m6 s12 center-align">
                        <p class="open-sans">© By Josefine Kihlström 2020</p>
                    </div>
                    <div class="col m6 s12 center-align social-links">
                        <a href="https://www.facebook.com/" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.twitter.com/" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
          </div>
    </footer>
</body>
</html>