{% extends "base.html" %}
{% block content %}

    <main>
        <!-- heading text -->
        <div class="row">
            <h3 class="center-align open-sans sign-up-heading">Edit Categories</h3>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_category') }}" class="btn btn-blue add-category-button">
                    Add Category <i class="fas fa-plus-square right"></i>
                </a>
                <br>
                <br>
            </div>
        </div>
        <!-- categories -->
        <div class="row">
            {% for category in categories %}
                <div class="col s6 m6 l4 xl3 center-align">
                    <div class="category-img">
                        <img src="{{ category.recipe_img }}" alt="category image">
                    </div>
                    <div class="card black-text open-sans">
                        <div class="card-content white-text edit-cat-padding">
                            <span class="card-title category-title">{{ category.category_name }}</span>
                        </div>
                        <div class="card-action edit-cat-padding">
                            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-delete">Delete</a>
                            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-edit">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}