{% extends "base.html" %}
{% block content %}

    <div class="add-recipe-container">
        <div class="row">
            <h3 class="center-align open-sans sign-up-heading">Edit Category</h3>
        </div>
        <!-- form container -->
        <div class="form-container">
            <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
                <!-- category name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <input id="category_name" name="category_name" minlength="3" maxlength="25"
                            type="text" value="{{ category.category_name }}" class="validate" required>
                        <label for="category_name" class="open-sans label-text">
                            Category Name
                            <span class="red-text">
                                *
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix"></i>
                        <input id="recipe_img" name="recipe_img" type="text" class="validate" required>
                        <label for="recipe_img" class="open-sans label-text">
                            Img URL
                            <span class="red-text">
                                *
                            </span>
                        </label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_categories') }}" class="btn btn-cancel">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-blue add-category-button">
                            Edit Category <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}