{% extends "base.html" %}
{% block content %}
    <main>
        <!-- hero image -->
        <div class="row row-no-margin">
            <div class="hero-img center-align">
                <h1 class="welcome-h1 open-sans">Welcome to <strong class="logo-text">Kitchen.</strong></h1>
            </div>
        </div>
        <!-- info boxes -->
        <div class="row row-no-margin">
            <div class="col m6 s12 center-align blue-info-box open-sans">
                <div class="box-content">
                    <p>
                        This is a platform where food <br>
                        enthusiasts from all over the world gather <br>
                        to share their best recipes. 
                        <br>
                        <br>
                        We simply call it everybodys kitchen.
                    </p>
                </div>
            </div>
            <div class="col m6 s12 center-align red-info-box open-sans">
                <div class="box-content">
                    <h3>Want to share a recipe?</h3>
                    <a href="{{ url_for('signup') }}" class="btn btn-blue sign-up">Sign Up</a>
                </div>
            </div>
        </div>
        <!-- categories -->
        <div class="row">
            <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
                </div>
            </div>
            </div>
        </div>
    </main>
    
{% endblock %}