{% extends "base.html" %}
{% block content %}
<div class="hero-img-profile">
</div>
<!-- recipe card -->
<div class="recipe-area">
    <div class="row">
        <h2 class="open-sans category-heading">{{ username }}'s recipies</h2>
    </div>
    <div class="row">
        {% for recipe in recipies %}
        {% if session.user|lower == recipe.created_by|lower %}
        <div class="col s12 m6 l3">
            <div class="card">
                <!-- recipe image -->
                <div class="card-image">
                    <img src="{{ recipe.recipe_img }}" class="card-image-position">
                </div>
                <div class="card-content">
                    <!-- recipe name -->
                    <span class="card-title open-sans recipe-name">{{ recipe.recipe_name }}</span>
                    <!-- created by -->
                    <p class="open-sans recipe-description-text">
                        <i class="fas fa-user"></i>
                        {{ recipe.created_by }}
                    </p>
                    <!-- category name -->
                    <p class="open-sans recipe-description-text">
                        <i class="fas fa-utensils"></i>
                        {{ recipe.category_name }}
                    </p>
                    <!-- preptime -->
                    <p class="open-sans recipe-description-text">
                        <i class="fas fa-stopwatch"></i>
                        {{ recipe.preptime_time }}
                    </p>
                    <br>
                    <!-- delete/edit buttons -->
                    <div class="recipe-buttons">
                        {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn btn-delete open-sans">Delete</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                            class="btn btn-blue btn-edit open-sans">Edit</a>
                        {% endif %}
                    </div>
                </div>
                <!-- recipe link -->
                <div class="card-action">
                    <a href="{{ url_for('select_recipe', recipe_id=recipe._id) }}" class="open-sans recipe-link">Recipe
                        Link</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>



    {% endblock %}