{% extends "base.html" %}
{% block content %}

<main>
    <div class="hero-img-recipies">
        <div class="row card-panel grey lighten-5 search-div">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row center-align search-row">
                    <div class="input-field col s10">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Tasks</label>
                    </div>
                    <div class="col s2">
                        <a href="{{ url_for('get_recipies') }}" class="btn open-sans">Reset</a>
                        <button type="submit" class="btn search-button">
                            <i class="fas fa-search center-align"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- categories -->
    <div class="row">
        <h2 class="open-sans category-heading">Pick a category</h2>
    </div>
    <div class="row">
        {% for category in categories %}
        <div class="col s6 m4 l3 center-align">
            <a href="{{ url_for('select_category', category_id=category._id) }}" class="open-sans recipe-link">
                <div class="category-img">
                    <img src="{{ category.recipe_img }}" alt="category image">
                </div>
            </a>
            <div class="card black-text open-sans">
                <div class="card-content white-text">
                    <span class="card-title category-title">{{ category.category_name }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- recipe card -->
    <div class="recipe-area">
        <div class="row">
            <h2 class="open-sans category-heading">All recipies</h2>
        </div>

        {% if recipies|length > 0  %}
        <div class="row">
            {% for recipe in recipies %}
            <div class="col s12 m6 l4 xl3">
                <div class="card">
                    <!-- recipe image -->
                    <div class="card-image">
                        <img src="{{ recipe.recipe_img }}" class="card-image-position" onerror="this.onerror=null;this.src='/static/img/no-image.jpg';">
                    </div>
                    <div class="card-content">
                        <!-- recipe name -->
                        <span class="card-title open-sans recipe-name">{{ recipe.recipe_name }}</span>
                        <!-- created by -->
                        <p class="open-sans recipe-description-text">
                            <i class="fas fa-user"></i>
                            {{ recipe.created_by }}
                        </p>
                        <!-- category name -->
                        <p class="open-sans recipe-description-text">
                            <i class="fas fa-utensils"></i>
                            {{ recipe.category_name }}
                        </p>
                        <!-- preptime -->
                        <p class="open-sans recipe-description-text">
                            <i class="fas fa-stopwatch"></i>
                            {{ recipe.preptime_time }}
                        </p>
                        <br>
                        <!-- delete/edit buttons -->
                        <div class="recipe-buttons">
                            {% if session.user|lower == recipe.created_by|lower %}
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                class="btn btn-delete open-sans">Delete</a>
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="btn btn-blue btn-edit open-sans">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- recipe link -->
                    <div class="card-action">
                        <a href="{{ url_for('select_recipe', recipe_id=recipe._id) }}"
                            class="open-sans recipe-link">Recipe Link</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <h5 class="open-sans center-align no-recipies">No recipies found, try searching for something else</h5>
        {% endif %}
    </div>
</main>

{% endblock %}