{% extends "base.html" %}
{% block content %}

    <main>
        <div>
            <h1>Categories here</h1>
        </div>
        
        <!-- recipe card -->
        <div class="row recipe-area">
            {% for recipe in recipies %}
                <div class="col s6 m4 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ recipe.recipe_img }}" class="card-image-position">
                        </div>
                        <div class="card-content">
                            <span class="card-title open-sans">{{ recipe.recipe_name }}</span>
                            <p class="open-sans">
                                <i class="fas fa-user"></i>
                                {{ recipe.created_by }}
                            </p>
                            <p class="open-sans">
                                <i class="fas fa-utensils"></i>
                                {{ recipe.category_name }}
                            </p>
                            <p class="open-sans">
                                <i class="fas fa-stopwatch"></i>
                                {{ recipe.preptime_time }}
                            </p>
                            <br>
                            <div class="recipe-buttons">
                                {% if session.user|lower == recipe.created_by|lower %}
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-delete open-sans">Delete</a>
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-blue btn-edit open-sans">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#" class="open-sans">Recipe Link</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>    
    </main>

{% endblock %}
