{% extends "base.html" %}
{% block content %}

    <main>
        {% for recipe in recipies %}
            <img src="{{ recipe.recipe_img }}" alt="recipe image" width="20%" height="20%"><br>
            {{ recipe.recipe_name }}<br>
            {{ recipe.category_name }}<br>
            {{ recipe.ingredients }}<br>
            {{ recipe.preparation_steps }}<br>
        {% endfor %}
        <div class="row recipe-area">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                    <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Recipe Name</span>
                        <p>
                            <i class="fas fa-user"></i>
                            By user
                        </p>
                        <p>
                            <i class="fas fa-utensils"></i>
                            Category
                        </p>
                        <p>
                            <i class="fas fa-stopwatch"></i>
                            Preptime
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Recipe Link</a>
                    </div>
                </div>
            </div>
        </div>    
    </main>

{% endblock %}
