{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m4 recipe-select-img">
            <img src="{{ recipe.recipe_img }}" class="selected-recipe-img">
        </div>
        <div class="col s12 m8">
            <h1 class="open-sans">{{ recipe.recipe_name }}</h1>
            <p class="open-sans">{{ recipe.created_by }}</p>
            <p class="open-sans">{{ recipe.category_name }}</p>
            <p class="open-sans">{{ recipe.preptime_time }}</p>
        </div>
    </div>
    
{% endblock %}