{% extends "base.html" %}
{% block content %}
    <div class="row">
        <!-- recipe image -->
        <div class="col s12 m4 recipe-select-img">
            <img src="{{ recipe.recipe_img }}" class="selected-recipe-img">
        </div>
        <!-- recipe description -->
        <div class="col s12 m8 recipe-description">
            <h1 class="open-sans select-recipe-h1">
                {{ recipe.recipe_name }}
            </h1>
            <p class="open-sans select-recipe-description">
                <i class="fas fa-user"></i>
                {{ recipe.created_by }}
            </p>
            <p class="open-sans select-recipe-description">
                <i class="fas fa-utensils"></i>
                {{ recipe.category_name }}
            </p>
            <p class="open-sans select-recipe-description">
                <i class="fas fa-stopwatch"></i>
                {{ recipe.preptime_time }}
            </p>
        </div>
    </div>
    <div class="row">
        <!-- ingredients -->
        <div class="col s12 m4 ingredients-col">
            <h2 class="open-sans">Ingredients:</h2>
            <ul class="open-sans">
                {% for ingredient in recipe.ingredients.split(", ") %}
                    <li>
                        <i class="fas fa-check-circle"></i>
                        {{ ingredient }}<br>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- how to -->
        <div class="col s12 m8 prepstep-col">
            <h2 class="open-sans">How To:</h2>
            <ol class="open-sans">
                {% for prepstep in recipe.preparation_steps.split(", ") %}
                    <li>
                        {{ prepstep }}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    
{% endblock %}